/* W A Y B A R    S T Y L E */

@import "../colors/tokoynight-storm.css";

* {
    font-size: 18px; /* 18 px font -> 31 height // 16px font -> 28 height*/
    font-family: "Jet Brains Mono Nerd Font";
}

tooltip {
    color: @fg;
    background-color: @bg;
    text-shadow: none;
    border: solid 2px @fg;
}

window#waybar {
    background-color: @bg;
    border-right: 2px solid @dimfg;
    color: #d8dee9;
}

/* left modules */
#custom-logo {
    color: @blue;
    padding: 10px 2px 10px 0px;
}

#workspaces {
    color: @fg;
    margin: 4px 0;
    padding: 5px 0 5px 0;
}

#workspaces button {
    color: @fg;
    padding: 0 0;
    border: none;
    transition: 0.23s;
}

#workspaces button.empty {
    color: @dimfg;
}

#workspaces button.visible {
    color: @green;
    border-radius: 0;
    border-right: 2px solid @green;
    margin-left: 2px;
}

#workspaces button.special {
    color: @fg;
    background: none;
}

#workspaces button.active {
    color: @fg;
    border-radius: 0;
    border-right: 2px solid @fg;
    margin-left: 2px;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background:none;
    transition: none;
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
    border-radius: 0;
    border-right: 2px solid @red;
    margin-left: 2px;
}

/* center modules */

#clock {
    color: @fg;
    padding: 10px 2px 10px 0;
}

/* right modules*/

#custom-updates,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio.pa1,
#pulseaudio.pa2,
#backlight,
#custom-brightness,
#network,
#battery,
#bluetooth,
#tray,
#custom-power,
#custom-quit,
#custom-lock,
#custom-suspend,
#custom-reboot {
    padding: 3px 2px 3px 0;
    color: @fg;
    margin: 4px 0 4px 0;
}

