/* W A Y B A R    S T Y L E */

@import "../colors/tokyonight-night.css";

* {
    font-size: 20px;
    font-family: "Jet Brains Mono Nerd Font";
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    border-top: 3px solid @dimfg;
    color: #d8dee9;
}

#tags button {
    color: @dimfg;
    padding: 0 5px;
    border: none;
    transition: 0.23s;
    font-size: 25px;
    padding: 0 5px 0 5px;
}

#tags button.occupied {
    color: @fg;
}

#tags button.focused {
    color: @magenta;
    border-radius: 0;
    border-top: 3px solid @magenta;
    margin-bottom: 3px;
}

#tags button.urgent {
    color: @red;
    border-radius: 0;
    border-top: 3px solid @red;
    margin-bottom: 3px;
}


#tags button:hover {
    box-shadow: none;
    text-shadow: none;
    background:none;
    transition: none;
    color: @cyan;
    border-color: @cyan;
}

tooltip {
    color: @fg;
    background-color: @bg;
    text-shadow: none;
    border: solid 2px @dimfg;
    border-radius: 0;
}

/* left modules */

#custom-logo {
    color: @blue;
    padding: 3px 10px 0 10px;
}

/* right modules*/

#custom-updates,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio.pa1,
#pulseaudio.pa2,
#backlight,
#custom-brightness,
#network,
#battery,
#bluetooth,
#tray,
#cpu,
#memory,
#custom-power,
#custom-quit,
#custom-lock,
#custom-suspend,
#custom-reboot {
    padding: 3px 6px 0 6px;
    color: @fg;
    border-radius: 0;
    /* margin: 0 2px 0 2px; */
}

#idle_inhibitor.deactivated {
    color: @dimfg;
}

#idle_inhibitor.activated {
    color: @fg;
    /* border-top: 3px solid @fg; */
    /* margin-bottom: 3px; */
}

#power-profiles-daemon.performance {
    color: @red;
    /* border-top: 3px solid @red; */
    /* margin-bottom: 3px; */
}

#power-profiles-daemon.balanced {
    color: @dimfg;
    padding: 3px 6px 0 6px;
}

#power-profiles-daemon.power-saver {
    color: @green;
    /* border-top: 3px solid @green; */
    /* margin-bottom: 3px; */
}

#bluetooth.off,
#bluetooth.disabled {
    color: @dimfg;
}

#network.disconnected {
    color: @warning;
}

#network.disabled {
    color: @warning;
}

#pulseaudio.pa1.muted {
    color: @dimfg;
    border: none;
}

#pulseaudio.pa1.bluetooth {
    color: @blue;
}

#pulseaudio.pa1.bluetooth.muted {
    color: @dimfg;
}

#pulseaudio.pa2.source-muted {
        color: @dimfg;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.charging,
#battery.warning.charging,
#battery.good.charging,
#battery.good.plugged {
    color: @green;
    /* border-top: 3px solid @green; */
    /* margin-bottom: 3px; */
}

#battery.limit.charging, #battery.limit.plugged {
    color: @limit;
    /* border-top: 3px solid @limit; */
    /* margin-bottom: 3px; */
    animation-name: blink-limit;
    animation-duration: 3s;
}

#battery.warning.discharging {
    color: @warning;
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    color: @critical;
    border-radius: 0;
    transition: none;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#tray.menu {
    color: @fg;
    background-color: @bg;
}

#custom-power {
    color: @red;
    background-color: rgba(0,0,0,0);
    padding-right: 10px;
}

#clock {
    color: @fg;
    padding: 3px 10px 0 10px;
    font-weight: bolder;
}

/* blinking animation */

@keyframes blink-warning {
    50% {
        opacity: 0.5;
        color: @warning;
    }
}

@keyframes blink-critical {
    50% {
        opacity: 0.5;
        color: @critical;
    }
}

@keyframes blink-limit {
    50% {
        opacity: 0.5;
        color: @limit;
    }
}
