/* v-style-sway.css */

@import "colors/tokyonight-storm.css";

* {
    font-size: 19px; /* 18 px font -> 31 height // 16px font -> 28 height*/
    font-family: "Jet Brains Mono Nerd Font";
    font-weight: bold;
}

tooltip {
    color: @fg;
    background-color: @bg;
    text-shadow: none;
    border: solid 2px @dimfg;
    border-radius: 0;
}

window#waybar {
    background-color: @bg;
    border-right: 2px solid @dimfg;
    color: @fg;
}

/* left modules */

#custom-logo {
    color: @blue;
    padding: 5px 5px 5px 0;
    margin-right: 4px;
}
#workspaces {
    margin: 4px 0;
    padding: 5px 8px 5px 0;
}

#workspaces button {
    padding: 2px 0;
    color: @fg;
    border: none;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
    transition: none;
}

#workspaces button.empty {
    color: @dimfg
}

#workspaces button.visible {
    color: @green;
}

#workspaces button.focused {
    color: @yellow;
    border-radius: 0;
    transition: none;
}

#workspaces button.urgent {
    color: @red;
}

/* center modules */

#clock {
    color: @fg;
    padding: 5px 2px 5px 0;
    font-weight: bolder;
}

/* right modules*/

#tray,
#custom-updates,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio.pa1,
#pulseaudio.pa2,
#backlight,
#custom-brightness,
#network,
#battery,
#bluetooth,
#custom-power,
#custom-quit,
#custom-lock,
#custom-suspend,
#custom-reboot {
    padding: 2px 10px 2px 0;
    color: @fg;
    margin: 5px 0 5px 0;
}

#idle_inhibitor.deactivated {
    color: @dimfg;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @dimfg;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#bluetooth.disabled {
    color: @dimfg;
}

#network.disconnected {
    color: @warning;
}

#network.disabled {
    color: @warning;
}

#pulseaudio.pa1.muted {
    color: @dimfg;
}

#pulseaudio.pa1.bluetooth {
    color: @blue;
}

#pulseaudio.pa1.bluetooth.muted {
    color: @dimfg;
}

#pulseaudio.pa2.source-muted {
    color: @dimfg;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.charging,
#battery.warning.charging,
#battery.good.charging,
#battery.good.plugged {
    color: @green;
}

#battery.limit.charging, #battery.limit.plugged {
    color: @limit;
    animation-name: blink-limit;
    animation-duration: 3s;
}

#battery.warning.discharging {
    color: @warning;
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    color: @critical;
    border-radius: 0;
/*
    border-bottom: 2px solid @critical;
    margin-top: 2px;
*/
    transition: none;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#tray.menu {
    color: @fg;
    background-color: @bg;
}

#custom-power {
    color: @red;
    padding-bottom: 10px;
}

/* blinking animation */

@keyframes blink-warning {
    50% {
        opacity: 0.5;
        color: @warning;
    }
}

@keyframes blink-critical {
    50% {
        opacity: 0.5;
        color: @critical;
    }
}

@keyframes blink-limit {
    50% {
        opacity: 0.5;
        color: @limit;
    }
}

